/*__________________________________________________
|                                                   |
|  ====== TABLEAU DE BORD ADMINS / EMPLOYES ======  |
|__________________________________________________*/

/*===== tableau de bord global ======*/

.fond-général-page-pro {
    background-color: var(--couleur-secondaire-15);
    border-radius: var(--border-radius-principal);
    box-shadow: var(--ombre-principale);
    padding: 0.5rem 2%;
}

.dashboard {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: block;
    margin-left: clamp(200px, 22%, 270px);
}

.formulaires-dashboard {
    box-shadow: none;
    background-color: transparent;
}

/*===== Barre latérale de navigation ======*/

.barre-laterale {
    width: clamp(180px, 20%, 250px);
    margin-left: 1%;
    margin-top: 22%;
    padding: 1rem 0;
    position: fixed;
    top: 2rem;
}

.barre-laterale nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.barre-laterale nav a {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: var(--couleur-tertiaire);
    text-decoration: none;
    width: 90%;
    background-color: var(--couleur-secondaire-25);
    border-radius: var(--border-radius-principal);
    box-shadow: var(--ombre-secondaire);
    text-align: center;
}

.barre-laterale nav a:hover {
    background-color: var(--couleur-secondaire-35);
    box-shadow: var(--ombre-principale);
}

/*=== Titres du dashboard ===*/

.titres-dashboard {
    margin-top: 2rem;
}

.dashboard h3 {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: 500;
}

/*=== Boutons du dashboard ===*/

.btn-creer-menu,
.btn-modifier-horaires,
.btn-enregistrer,
.btn-creer-employe,
.btn-ajout-employe {
    display: block;
    margin: 2rem auto;
}

.modification-menu-existant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.btn-ajout-menu,
.btn-supprimer-menu {
    margin: 1rem auto;
}

.btn-annuler-ajout-menu {
    display: none;
    justify-content: left;
    width: 10%;
}

.btn-modif-img-menu,
.btn-modif-galerie,
.btn-enregistrer-menu {
    margin: 0.5rem auto;
    font-weight: 500;
}

.btn-valider-supprimer-avis {
    margin: 0.5rem auto;
    padding: 0.7rem;
}

/*=== Modification du selecteur de fichier pour les photos ===*/

#images-menu {
    display: none;
}

.label-fichier {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--couleur-primaire);
    color: var(--texte-boutons);
    border-radius: var(--border-radius-principal);
    box-shadow: var(--ombre-secondaire);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.label-fichier:hover {
    background-color: var(--couleur-secondaire);
    color: var(--couleur-tertiaire);
    box-shadow: var(--ombre-principale);
    transform: scale(1.03);
}

/*===== Gestion des commandes reçues ======*/

.commandes-recues {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte-corps-tableaux {
    font-size: 1.8rem;
}

.boutons-actions-cmd button {
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 0.3rem auto;
    width: 90%;
}

/*===== Gestion menus ======*/

.formulaires-dashboard-cacher {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.formulaires-dashboard-cacher input, 
.formulaires-dashboard-cacher label {
    margin: 1rem 0;
}

/* filtres et selecteurs */

.filtres-menu-dashboard {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filtres-menu-dashboard select {
    margin: 1rem 0;
    text-align: center;
    font-weight: 600;
}

.design-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8rem;
}

.design-select select {
    border-radius: var(--border-radius-principal);
    background-color: var(--couleur-primaire-40);
    padding: 1rem;
    margin: 1rem 0;
}
.liste-elements-menu select  {
    width: 30%;
}

.espacement-select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0;
}

/* labels et textarea */

.libele-et-textarea-colone, .taille-textarea-ajout-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.libele-et-textarea-colone textarea, 
.taille-textarea-ajout-menu textarea, 
.taille-textarea-ajout-menu input {
    width: 100%;
    max-width: 600px;
}

/*--- modification du menu ---*/

.titre-menus-existants {
    font-size: 2rem !important;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

/* photos */

.photo-principale-menu {
    width: 100%;
    max-width: 400px;
    border-radius: var(--border-radius-principal);
}

.galerie-photo-dashboard {
    width: 100%;
    max-width: 150px;
    border-radius: var(--border-radius-principal);
}

.alignement-bouton-img-menu {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.alignement-img-galerie {
    display: flex;
    align-items: center;
    margin: 0.1rem 0;
    max-width: 100%;
}

/* boutons */

.btn-supprimer-galerie {
    font-size: 1.6rem;
    padding: 0.5rem;
}

.bouton-modif-colone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* liste des éléments du menu */

.liste-elements-menu ul li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.liste-elements-menu select {
    width: 100%;
    max-width: 100px;
    padding: 0.5rem;
    border-radius: var(--border-radius-principal);
    background-color: var(--couleur-primaire-40);
}

/*==== Gestion des Horaires ====*/

.gestion-horaires {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}

.gestion-horaires span {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
}

.gestion-horaires label {
    text-align: center;
}

.alignement-horaires {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

/* ==== Gestion des employés ==== */

.formulaire-employes {
    min-width: 100%;
    max-width: 400px;
}

.formulaires-dashboard-employe-cacher {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
}

/*==== Graphique des statistiques ====*/

#statistiques-annuelles {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    height: auto;
    background-color: var(--texte-boutons);
    box-shadow: var(--ombre-secondaire);
}

#select-annee {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    background-color: var(--couleur-primaire-40);
    font-weight: 600;
    border-radius: var(--border-radius-principal);
}

/* Formulaire d'ajout de stats */

.btn-ajouter-stats {
    margin: 2rem 0;
}

#formulaire-stats {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 300px;
}

#formulaire-stats input {
    text-align: center;
    font-size: 1.6rem;
    border-radius: var(--border-radius-principal);
    width: 100%;
    margin-bottom: 1rem;
}

#formulaire-stats label {
    text-align: left;
}

.btn-enregistrer-stats {
    margin: 1rem 0;
}

.diagramme {
    display: flex;
    flex-direction: column;
}

.diagramme select {
    width: 5%;
}

.filtres-menu-dashboard select {
    width: 50%;
    background-color: var(--couleur-primaire-40);
    border-radius: var(--border-radius-principal);
    padding: 0.5rem;
    font-size: 1.6rem;
}
