/*__________________________________________________
|                                                   |
|     Pages login utilisateurs et professionels     |
|__________________________________________________*/

#main-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

#img-connexion {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: var(--border-radius-principal);
    margin-bottom: 2rem;
}

.form-connexion, 
.form-connexion-pros {
    width: 100%;
    text-align: left;
}

.input-connexion {
    width: 100%;
    margin-top: 0.5rem;
}

.mdp-oublie {
    font-style: italic;
    display: block;
    text-align: right;
}

.inscription {
    margin-top: 1rem;
}

.lien-page-inscription {
    font-style: italic;
    font-size: 1.8rem;
}

.btn-login {
    display: block;
    margin: 2rem auto 0 auto;
}