/*__________________________________________________
|                                                   |
|     ====== PAGE FORMULAIRE DE CONTACT ======      |
|__________________________________________________*/


#main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 1rem;
}

#photo-couple {
    width: 50%;
    height: auto;
    max-width: 100%;
    border-radius: var(--border-radius-principal);
    margin-bottom: 1rem;
}

/*----- FORMULAIRE DE CONTACT -----*/

.form-contact {
    width: 90%;
    text-align: left;
}

.input-contact {
    width: 40%;
    margin-top: 0.5rem;
}

#message {
    width: 100%;
    margin-top: 0.5rem;
}

.btn-contact {
    margin-top: 1rem;
    align-self: flex-end;
}

.form-contact-info {
    font-style: italic;
    font-size: 2rem;
}